# prevent accidental commits by exclude everything
/*
**/.DS_Store
**/**/project.xcworkspace
**/**/xcuserdata
*.swp

# only include project files
!/.npmignore
!/*.md
!/*.png
!/plugin.xml
!/package.json
!/www
!/android
!/ios
!/LICENSE
